*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: lightblue;
}
.board{
	width: 50vw;
	height: 50vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}
.cell{
    height: calc(50vw / 8);
    width: calc(50vw / 8);
	border: solid 1px #c97d33;
}
.white{
	background: #e3a152;
}
.black{
	background: #97270a;
}

/*--------------Фигуры------------------*/


.blackPawn, .blackKing, .blackQueen, .blackRook, .blackBishop, .blackKnight, .whitePawn, .whiteKing, .whiteQueen, .whiteRook, .whiteBishop, .whiteKnight{
	display: flex;
	align-items: center;
	justify-content: center;
}



.blackPawn, .blackKing, .blackQueen, .blackRook, .blackBishop, .blackKnight{
	color: black;
}
.whitePawn, .whiteKing, .whiteQueen, .whiteRook, .whiteBishop, .whiteKnight{/*Опционально, по мне так лучше*/
	color: white;
}



.whitePawn:before{
	content: "♙";
	font-size: 6vw;
}.whiteKing:before{
	content: "♔";
	font-size: 6vw;
}.whiteQueen:before{
	content: "♕";
	font-size: 6vw;
}.whiteRook:before{
	content: "♖";
	font-size: 6vw;
}.whiteBishop:before{
	content: "♗";
	font-size: 6vw;
}.whiteKnight:before{
	content: "♘";
	font-size: 6vw;
}


.blackPawn:before{
	content: "♟";
	font-size: 6vw;
}.blackKing:before{
	content: "♚";
	font-size: 6vw;
}.blackQueen:before{
	content: "♛";
	font-size: 6vw;
}.blackRook:before{
	content: "♜";
	font-size: 6vw;
}.blackBishop:before{
	content: "♝";
	font-size: 6vw;
}.blackKnight:before{
	content: "♞";
	font-size: 6vw;
}