*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: lightblue;
}
.board{
	width: 50vw;
	height: 50vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}
.cell{
    height: calc(50vw / 8);
    width: calc(50vw / 8);
	border: solid 1px #c97d33;
}
.white{
	background: #e3a152;
}
.black{
	background: #97270a;
}